* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #485056;
  font-family: "Montserrat", sans-serif;
}
body .main-wrapper {
  display: flex;
}
body .main-wrapper .wrapper-noa-menu-section {
  position: relative;
}
@media screen and (max-width: 650px) {
  body .main-wrapper .wrapper-noa-menu-section {
    display: none;
  }
}
body .main-wrapper .wrapper-noa-menu-section .noa-menu-section {
  position: fixed;
  background: #fff;
  width: 280px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
}
body .main-wrapper .wrapper-noa-menu-section .noa-menu-section .noa-menu {
  border-bottom: 1px solid #e9edf1;
  border-right: 1px solid #e9edf1;
  padding: 14px;
}
body .main-wrapper .wrapper-noa-menu-section .noa-menu-section .noa-menu .noa-logo {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-wrapper .wrapper-noa-menu-section .noa-menu-section .noa-menu .noa-logo .logo-img {
  width: 30px;
  height: 30px;
}
body .main-wrapper .wrapper-noa-menu-section .noa-menu-section .noa-menu .noa-logo .logo-img .noa-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .main-wrapper .wrapper-noa-menu-section .noa-menu-section .noa-menu .noa-logo .logo-head {
  font-weight: 500;
  font-size: 30px;
}
body .main-wrapper .wrapper-noa-menu-section .noa-menu-section .menu-sec {
  padding: 20px;
}
body .main-wrapper .wrapper-noa-menu-section .noa-menu-section .menu-sec .small-head {
  font-size: 12px;
  color: #9fa8b8;
}
body .main-wrapper .wrapper-noa-menu-section .noa-menu-section .menu-sec .dashboard-sec {
  color: #8fbd56;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 16px 0;
  gap: 6px;
}
body .main-wrapper .wrapper-noa-menu-section .noa-menu-section .menu-sec .dashboard-sec .menu-icon {
  width: 20px;
  height: 20px;
}
body .main-wrapper .wrapper-noa-menu-section .noa-menu-section .menu-sec .dashboard-sec .dashboard-head {
  font-size: 16px;
  font-weight: 400;
}
body .main-wrapper .wrapper-noa-menu-section .noa-menu-section .menu-sec .app-sec .small-head {
  font-size: 12px;
  color: #9fa8b8;
}
body .main-wrapper .wrapper-noa-menu-section .noa-menu-section .menu-sec .app-sec .app-wrapper {
  padding: 16px 0;
}
body .main-wrapper .wrapper-noa-menu-section .noa-menu-section .menu-sec .app-sec .app-wrapper .app-item-wrapp {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 18px 0;
}
body .main-wrapper .wrapper-noa-menu-section .noa-menu-section .menu-sec .app-sec .app-wrapper .app-item-wrapp:hover .chevron-icon,
body .main-wrapper .wrapper-noa-menu-section .noa-menu-section .menu-sec .app-sec .app-wrapper .app-item-wrapp:hover .app-item {
  color: #8fbd56;
  transition: 0.1s;
}
body .main-wrapper .wrapper-noa-menu-section .noa-menu-section .menu-sec .app-sec .app-wrapper .app-item-wrapp .app-item {
  color: #5d5e60;
  display: flex;
  align-items: center;
  gap: 8px;
}
body .main-wrapper .wrapper-noa-menu-section .noa-menu-section .menu-sec .app-sec .app-wrapper .app-item-wrapp .app-item .app-icon {
  width: 20px;
  height: 20px;
}
body .main-wrapper .wrapper-noa-menu-section .noa-menu-section .menu-sec .app-sec .app-wrapper .app-item-wrapp .app-item .app-items-head {
  font-size: 16px;
}
body .main-wrapper .wrapper-noa-menu-section .noa-menu-section .menu-sec .app-sec .app-wrapper .new {
  border-radius: 18px;
  background: #e884b0;
}
body .main-wrapper .wrapper-noa-menu-section .noa-menu-section .menu-sec .app-sec .app-wrapper .new .new-head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #fff;
  padding: 4px 8px;
}
body .main {
  background: #f7f8f9;
  width: 100%;
  margin-left: 280px;
}
@media only screen and (max-width: 1200px) {
  body .main {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 650px) {
  body .main {
    margin-left: 0;
  }
}
body .main .container {
  max-width: 1100px;
  margin: auto;
}
@media only screen and (max-width: 1200px) {
  body .main .container {
    width: 100%;
  }
}
body .main .header-wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid #e9edf1;
}
body .main .header-wrapp .menu-icon-wrapp {
  cursor: pointer;
  display: flex;
  gap: 20px;
}
body .main .header-wrapp .menu-icon-wrapp .menu-icon {
  width: 40px;
  height: 40px;
  color: #485056;
}
body .main .header-wrapp .menu-icon-wrapp .form {
  position: relative;
}
@media only screen and (max-width: 1053px) {
  body .main .header-wrapp .menu-icon-wrapp .form {
    display: none;
  }
}
@media screen and (max-width: 818px) {
  body .main .header-wrapp .menu-icon-wrapp .form {
    display: block;
  }
}
body .main .header-wrapp .menu-icon-wrapp .form input[type=text] {
  border: 1px solid #e9edf1;
  border-radius: 24px;
}
body .main .header-wrapp .menu-icon-wrapp .form input[placeholder] {
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
}
body .main .header-wrapp .menu-icon-wrapp .form .icon-header {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(0, -50%);
}
body .main .header-wrapp .menu-icon-wrapp .form .icon-header .search-icon-header {
  color: #9fa8b8;
}
body .main .header-wrapp .header-icons-sec {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 818px) {
  body .main .header-wrapp .header-icons-sec {
    display: none;
  }
}
body .main .header-wrapp .header-icon {
  width: 24px;
  height: 24px;
  color: #5d5e60;
}
body .main .header-wrapp .header-icon:hover {
  color: #8fbd56;
}
body .main .header-wrapp .elena-sec {
  display: flex;
  align-items: center;
  gap: 10px;
}
body .main .header-wrapp .elena-sec .header-img-sec {
  width: 30px;
  height: 30px;
}
body .main .header-wrapp .elena-sec .header-img-sec .header-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .main .header-wrapp .elena:hover {
  color: #8fbd56;
}
body .main .header-wrapp .scan-wrapper {
  position: relative;
}
body .main .header-wrapp .scan-wrapper:hover .scan-number {
  width: 16px;
  height: 16px;
  transition: 0.3s;
}
body .main .header-wrapp .scan-wrapper:hover .color-green,
body .main .header-wrapp .scan-wrapper:hover .color-red {
  width: 10px;
  height: 10px;
  transition: 0.3s;
}
body .main .header-wrapp .scan-wrapper .scan-number {
  position: absolute;
  bottom: 74%;
  left: 60%;
  width: 14px;
  height: 14px;
  background: #59adec;
  border-radius: 2px;
}
body .main .header-wrapp .scan-wrapper .scan-number .number {
  font-size: 10px;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
body .main .header-wrapp .scan-wrapper .color-red {
  position: absolute;
  bottom: 90%;
  left: 80%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: pulse-red 2s infinite;
  background: #ef3860;
}
body .main .header-wrapp .scan-wrapper .color-green {
  position: absolute;
  bottom: 80%;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #22c03c;
  animation: pulse-green 2s infinite;
}
body .main .dashboard-section {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .main .dashboard-section .dashboard-heading {
  font-weight: 500;
  font-size: 20px;
}
body .main .dashboard-section .dashboard-home {
  display: flex;
  align-items: center;
}
body .main .dashboard-section .dashboard-home .home-head {
  color: #8fbd56;
  font-size: 15px;
  font-weight: 400;
}
body .main .dashboard-section .dashboard-home .icons-chevron {
  display: flex;
  align-items: center;
}
body .main .dashboard-section .dashboard-home .icons-chevron .chevron {
  width: 10px;
  height: 10px;
  color: #9fa8b8;
}
body .main .dashboard-section .dashboard-home .dash-head {
  font-weight: 400;
  color: #5d5e60;
  font-size: 15px;
}
body .main .cards-wrapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  body .main .cards-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
}
@media screen and (max-width: 960px) {
  body .main .cards-wrapper {
    flex-direction: column;
  }
}
body .main .cards-wrapper .daily-card {
  display: flex;
  border-radius: 6px;
  width: 24%;
  background: #fff;
  padding: 30px;
}
@media screen and (max-width: 1200px) {
  body .main .cards-wrapper .daily-card {
    width: 45%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 960px) {
  body .main .cards-wrapper .daily-card {
    width: 100%;
    margin: auto;
  }
}
body .main .cards-wrapper .daily-card .daily-number-head {
  font-weight: 500;
}
body .main .cards-wrapper .daily-card .daily-visitors {
  padding: 10px 0;
  font-weight: 300;
  font-size: 12px;
}
body .main .cards-wrapper .daily-card .per-cent-sec {
  font-size: 14px;
  font-weight: 300;
}
body .main .cards-wrapper .daily-card .per-cent-sec span {
  color: #12bfa6;
  font-size: 16px;
  font-weight: 500;
}
body .main .cards-wrapper .daily-card .per-cent-sec .arrow {
  width: 12px;
  height: 12px;
}
body .main .cards-wrapper .daily-card .daily-color {
  position: relative;
  width: 46px;
  height: 46px;
  background: #8fbd56;
  border-radius: 50%;
}
body .main .cards-wrapper .daily-card .daily-color .eye {
  color: #ffffff;
  width: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body .main .cards-wrapper .pink-card {
  background: #fff;
  display: flex;
  border-radius: 6px;
  width: 24%;
  padding: 30px;
}
@media screen and (max-width: 1200px) {
  body .main .cards-wrapper .pink-card {
    width: 45%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 960px) {
  body .main .cards-wrapper .pink-card {
    width: 100%;
    margin: auto;
  }
}
body .main .cards-wrapper .pink-card .pink-card-desc .orders-number {
  font-weight: 500;
}
body .main .cards-wrapper .pink-card .pink-card-desc .total-orders {
  padding: 10px 0;
  font-weight: 300;
  font-size: 12px;
}
body .main .cards-wrapper .pink-card .pink-card-desc .total-per-cent-sec .total-per-cent-desc {
  font-size: 12px;
  font-weight: 300;
}
body .main .cards-wrapper .pink-card .pink-card-desc .total-per-cent-sec .total-per-cent-desc span {
  color: #ef3860;
  font-size: 16px;
  font-weight: 500;
}
body .main .cards-wrapper .pink-card .pink-card-desc .total-per-cent-sec .total-per-cent-desc span .pink-arrow {
  width: 12px;
  height: 12px;
}
body .main .cards-wrapper .pink-card .pink-card-desc .total-per-cent-sec .total-per-cent-desc .blue-span {
  color: #12bfa6;
  font-size: 16px;
  font-weight: 500;
}
body .main .cards-wrapper .pink-card .total-orders-color {
  position: relative;
  width: 46px;
  height: 46px;
  background: #e884b0;
  border-radius: 50%;
}
body .main .cards-wrapper .pink-card .total-orders-color .bag {
  color: #ffffff;
  width: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body .main .cards-wrapper .pink-card .conversation-rates-color {
  background: #59adec;
}
body .main .cards-wrapper .pink-card .avg-orders-color {
  background: #eacb6c;
}
body .main .board-wrapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  body .main .board-wrapper {
    flex-direction: column;
  }
}
@media screen and (max-width: 1200px) {
  body .main .board-wrapper .wrapper-revenue .revenue--wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1060px) {
  body .main .board-wrapper .wrapper-revenue .revenue--wrapper {
    flex-direction: column;
  }
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec {
  margin: 20px 0;
  background: #fff;
  border-radius: 8px;
}
@media screen and (max-width: 1200px) {
  body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec {
    width: 45%;
  }
}
@media screen and (max-width: 1060px) {
  body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec {
    width: 100%;
  }
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .revenue-desc-sec {
  padding: 20px;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .revenue-desc-sec .revenue-head {
  font-weight: 500;
  font-size: 16px;
  padding: 10px 0;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .revenue-desc-sec .colorful-revenue {
  display: flex;
  padding: 10px 0;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .revenue-desc-sec .colorful-revenue .green {
  border-radius: 4px;
  width: 20%;
  height: 6px;
  background: #8fbd56;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .revenue-desc-sec .colorful-revenue .pink {
  border-radius: 4px;
  width: 25%;
  height: 6px;
  background: #e884b0;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .revenue-desc-sec .colorful-revenue .blue {
  border-radius: 4px;
  width: 20%;
  height: 6px;
  background: #59adec;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .revenue-desc-sec .colorful-revenue .yellow {
  border-radius: 4px;
  width: 15%;
  height: 6px;
  background: #e7c253;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .revenue-desc-sec .colorful-revenue .grey {
  border-radius: 4px;
  width: 20%;
  height: 6px;
  background: #ebecf5;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .revenue-desc-sec .revenue-earned {
  display: flex;
  justify-content: space-between;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .revenue-desc-sec .revenue-earned .total-revenue-head {
  font-size: 12px;
  color: #5d5e60;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .revenue-desc-sec .revenue-earned .revenue-value {
  font-size: 14px;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .revenue-blue-per-cent-sec {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .revenue-blue-per-cent-sec .caret-blue {
  color: #12bfa6;
  width: 12px;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .revenue-blue-per-cent-sec .blue-per-cent {
  color: #12bfa6;
  font-size: 14px;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .grid-wrapper .revenue-per-cent-desc {
  gap: 4px;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .grid-wrapper .revenue-per-cent-desc .revenue-green-circle {
  width: 12px;
  height: 12px;
  background: #8fbd56;
  border-radius: 50%;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .grid-wrapper .revenue-per-cent-desc .revenue-pink {
  background: #e884b0;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .grid-wrapper .revenue-per-cent-desc .revenue-yellow {
  background: #e7c253;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .grid-wrapper .revenue-per-cent-desc .revenue-blue {
  background: #59adec;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .grid-wrapper .revenue-per-cent-desc .direct {
  font-weight: 400;
  font-size: 12px;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .grid-wrapper .revenue-per-cent-desc .caret {
  color: #15c0a7;
  width: 12px;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .grid-wrapper .revenue-per-cent-desc .pink-caret {
  color: #ef3860;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .grid-wrapper .revenue-per-cent-desc .per-cent-revenue {
  font-size: 14px;
  color: #15c0a7;
}
body .main .board-wrapper .wrapper-revenue .revenue--wrapper .revenue-sec .grid-wrapper .revenue-per-cent-desc .pink-per-cent {
  color: #ef3860;
}
body .main .board-wrapper .wrapper-revenue .transactions-sec {
  margin: 20px 0;
  background: #fff;
  border-radius: 8px;
}
@media screen and (max-width: 1200px) {
  body .main .board-wrapper .wrapper-revenue .transactions-sec {
    width: 45%;
  }
}
@media screen and (max-width: 1060px) {
  body .main .board-wrapper .wrapper-revenue .transactions-sec {
    width: 100%;
  }
}
body .main .board-wrapper .wrapper-revenue .transactions-sec .transactions-head-sec {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaedf1;
}
body .main .board-wrapper .wrapper-revenue .transactions-sec .transactions-head-sec .transaction-head {
  font-size: 16px;
  font-weight: 500;
}
body .main .board-wrapper .wrapper-revenue .transactions-sec .transactions-head-sec .view-all {
  cursor: pointer;
  color: #8fbd56;
  font-weight: 400;
  font-size: 14px;
}
body .main .board-wrapper .wrapper-revenue .transactions-sec .latest-sec-desc {
  gap: 6px;
  padding: 20px;
  cursor: pointer;
}
body .main .board-wrapper .wrapper-revenue .transactions-sec .latest-sec-desc .latest-section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
body .main .board-wrapper .wrapper-revenue .transactions-sec .latest-sec-desc .test {
  display: flex;
}
body .main .board-wrapper .wrapper-revenue .transactions-sec .latest-sec-desc .test {
  display: flex;
  align-items: center;
  gap: 12px;
}
body .main .board-wrapper .wrapper-revenue .transactions-sec .latest-sec-desc .test .latest-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #eef5e5;
  position: relative;
}
body .main .board-wrapper .wrapper-revenue .transactions-sec .latest-sec-desc .test .latest-circle .chevron-flex {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .main .board-wrapper .wrapper-revenue .transactions-sec .latest-sec-desc .test .latest-circle .chevron-flex .latest-chevron-icon {
  color: #8fbd56;
  width: 14px;
}
body .main .board-wrapper .wrapper-revenue .transactions-sec .latest-sec-desc .test .latest-desc-wrapp {
  gap: 6px;
}
body .main .board-wrapper .wrapper-revenue .transactions-sec .latest-sec-desc .test .latest-desc-wrapp .latest-desc {
  font-size: 12px;
  font-weight: 400;
}
body .main .board-wrapper .wrapper-revenue .transactions-sec .latest-sec-desc .test .latest-desc-wrapp .latest-desc .saving-section {
  font-weight: 500;
}
body .main .board-wrapper .wrapper-revenue .transactions-sec .latest-sec-desc .test .latest-desc-wrapp .transfer {
  padding-top: 8px;
  font-weight: 400;
  font-size: 11px;
}
body .main .board-wrapper .wrapper-revenue .transactions-sec .latest-sec-desc .transfer-sec-value .transfer-value {
  font-size: 14px;
}
body .main .board-wrapper .scale-sec {
  border-radius: 6px;
  background: #ffffff;
  margin: 20px 0;
}
body .main .board-wrapper .scale-sec .scale-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
body .main .board-wrapper .scale-sec .scale-header-sec .scale-header {
  font-weight: 500;
  font-size: 16px;
}
body .main .board-wrapper .scale-sec .sale-years {
  cursor: pointer;
  display: flex;
}
body .main .board-wrapper .scale-sec .sale-years .years-wrapper {
  border-radius: 2px;
  background: #eef5e5;
}
body .main .board-wrapper .scale-sec .sale-years .years-wrapper .year-2021 {
  color: #8fbd56;
  padding: 8px;
  font-size: 12px;
}
body .main .board-wrapper .scale-sec .sale-years .years-wrapper-2022 {
  border-radius: 3px;
  background: #cfe8b0;
}
body .main .board-wrapper .scale-sec .sale-years .years-wrapper-2022:hover {
  background: #8fbd56;
}
body .main .board-wrapper .scale-sec .sale-years .years-wrapper-2022:hover .year-2022 {
  color: #ffffff;
  transition: 0.2s;
}
body .main .board-wrapper .scale-sec .sale-years .years-wrapper-2022 .year-2022 {
  color: #6f9a3b;
  padding: 8px;
  font-size: 12px;
}
body .main .board-wrapper .scale-sec .scale-img-sec {
  width: 700px;
  height: 500px;
}
@media screen and (max-width: 1200px) {
  body .main .board-wrapper .scale-sec .scale-img-sec {
    width: 100%;
  }
}
body .main .board-wrapper .scale-sec .scale-img-sec .scale-img {
  width: 100%;
  height: 100%;
}
body .main .card-wrapper {
  margin: 20px 0;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  body .main .card-wrapper {
    flex-direction: column;
  }
}
body .main .card-wrapper .activity {
  width: 33%;
  background: #ffffff;
  border-radius: 6px;
}
@media screen and (max-width: 1200px) {
  body .main .card-wrapper .activity {
    width: 100%;
  }
}
body .main .card-wrapper .activity .daily-activity-head-sec {
  border-bottom: 1px solid #e9edf1;
}
body .main .card-wrapper .activity .daily-activity-head-sec .activity-head {
  padding: 20px;
  font-weight: 500;
  font-size: 16px;
}
body .main .card-wrapper .activity .activity-desc {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
body .main .card-wrapper .activity .activity-desc .activity-circle {
  background-color: #6f9a3b;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
body .main .card-wrapper .activity .activity-desc .activity-circle-pink {
  background: #e884b0;
}
body .main .card-wrapper .activity .activity-desc .activity-circle-blue {
  background: #59adec;
}
body .main .card-wrapper .activity .activity-desc .activity-circle-yellow {
  background: #e7c253;
}
body .main .card-wrapper .activity .activity-desc .activity-head-wrapper {
  display: flex;
}
body .main .card-wrapper .activity .activity-desc .activity-head-wrapper .activity-head {
  font-size: 14px;
}
body .main .card-wrapper .activity .activity-desc .activity-head-wrapper .activity-small-head {
  font-size: 12px;
  padding-top: 8px;
}
body .main .card-wrapper .activity .activity-desc .activity-clock {
  font-size: 13px;
}
body .main .card-wrapper .timeline {
  width: 33%;
  background: #ffffff;
  border-radius: 6px;
}
@media screen and (max-width: 1200px) {
  body .main .card-wrapper .timeline {
    width: 100%;
  }
}
body .main .card-wrapper .timeline .timeline-head-sec {
  border-bottom: 1px solid #e9edf1;
}
body .main .card-wrapper .timeline .timeline-head-sec .timeline-head {
  padding: 20px;
  font-weight: 500;
  font-size: 16px;
}
body .main .card-wrapper .timeline .timeline-desc-sec {
  padding: 20px;
  position: relative;
}
body .main .card-wrapper .timeline .timeline-desc-sec .timeline-description {
  padding: 10px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
}
body .main .card-wrapper .timeline .timeline-desc-sec .timeline-description .timeline-desc-wrapp {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
body .main .card-wrapper .timeline .timeline-desc-sec .timeline-description .timeline-desc-wrapp:hover .mr-mrs {
  color: #8fbd56;
  transition: 0.3s;
}
body .main .card-wrapper .timeline .timeline-desc-sec .timeline-description .timeline-desc-wrapp:hover .caroline {
  color: #e884b0;
}
body .main .card-wrapper .timeline .timeline-desc-sec .timeline-description .timeline-desc-wrapp:hover .juliette {
  color: #59adec;
}
body .main .card-wrapper .timeline .timeline-desc-sec .timeline-description .timeline-desc-wrapp:hover .akimov {
  color: #e7c253;
}
body .main .card-wrapper .timeline .timeline-desc-sec .timeline-description .timeline-desc-wrapp:hover .emilie {
  color: #ffa16a;
}
body .main .card-wrapper .timeline .timeline-desc-sec .timeline-description .timeline-desc-wrapp .timeline-circle {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e9f2de;
}
body .main .card-wrapper .timeline .timeline-desc-sec .timeline-description .timeline-desc-wrapp .timeline-circle .timeline-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .main .card-wrapper .timeline .timeline-desc-sec .timeline-description .timeline-desc-wrapp .timeline-desc .timeline-head-desc {
  font-size: 13px;
}
body .main .card-wrapper .timeline .timeline-desc-sec .timeline-description .timeline-desc-wrapp .timeline-desc .timeline-time {
  font-size: 10px;
  color: #9fa8b8;
  padding-top: 4px;
}
body .main .card-wrapper .timeline .timeline-desc-sec .timeline-description .active:hover:before {
  content: "";
  width: 10px;
  border: 2px dashed red;
}
body .main .card-wrapper .timeline .timeline-desc-sec .timeline-description .rectangle {
  position: relative;
  width: 40px;
  height: 24px;
  border-radius: 4px;
  background: #8fbd56;
}
body .main .card-wrapper .timeline .timeline-desc-sec .timeline-description .rectangle .rectangle-desc {
  position: absolute;
  top: 50%;
  height: 50%;
  transform: translate(50%, -50%);
  color: #ffffff;
  font-size: 12px;
}
body .main .card-wrapper .to-do-list {
  width: 33%;
  background: #ffffff;
  border-radius: 6px;
}
@media screen and (max-width: 1200px) {
  body .main .card-wrapper .to-do-list {
    width: 100%;
  }
}
body .main .card-wrapper .to-do-list .to-do-list-head-sec {
  border-bottom: 1px solid #e9edf1;
}
body .main .card-wrapper .to-do-list .to-do-list-head-sec .to-do-list-head {
  padding: 20px;
  font-weight: 500;
  font-size: 16px;
}
body .main .card-wrapper .to-do-list .to-do-list-desc-sec {
  padding: 20px;
}
body .main .card-wrapper .to-do-list .to-do-list-desc-sec .to-do-list-desc-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
body .main .card-wrapper .to-do-list .to-do-list-desc-sec .to-do-list-desc-item .checkbox-desc-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
body .main .card-wrapper .to-do-list .to-do-list-desc-sec .to-do-list-desc-item .checkbox-desc-wrapper .to-do-list-checkbox {
  gap: 10px;
  display: flex;
  align-items: center;
}
body .main .card-wrapper .to-do-list .to-do-list-desc-sec .to-do-list-desc-item .checkbox-desc-wrapper .to-do-list-checkbox .checkbox-stick {
  width: 3px;
  height: 25px;
  background: #8fbd56;
}
body .main .card-wrapper .to-do-list .to-do-list-desc-sec .to-do-list-desc-item .checkbox-desc-wrapper .to-do-list-desc .design-head {
  font-size: 13px;
}
body .main .card-wrapper .to-do-list .to-do-list-desc-sec .to-do-list-desc-item .checkbox-desc-wrapper .to-do-list-desc .remaining-head {
  padding-top: 4px;
  font-size: 12px;
  color: #9fa8b8;
}
body .main .card-wrapper .to-do-list .to-do-list-desc-sec .to-do-list-desc-item .edit-sec {
  border: 1px solid #9fa8b8;
  border-radius: 2px;
}
body .main .card-wrapper .to-do-list .to-do-list-desc-sec .to-do-list-desc-item .edit-sec:hover {
  background: #eaebec;
}
body .main .card-wrapper .to-do-list .to-do-list-desc-sec .to-do-list-desc-item .edit-sec .edit {
  padding: 5px 9px;
  font-size: 11px;
  color: #9fa8b8;
}
body .main .task-list-section {
  background: #ffffff;
  border-radius: 4px;
}
body .main .task-list-section .task-list-head-sec {
  border-bottom: 1px solid #e9edf1;
  padding: 20px;
}
body .main .task-list-section .task-list-head-sec .task-list-head {
  font-size: 18px;
  font-weight: 500;
}
body .main .task-list-section .task-description {
  padding: 20px 0;
  width: 98%;
  margin: auto;
}
body .main .task-list-section .task-description .task-sec-search-wrapper {
  display: flex;
  justify-content: space-between;
}
body .main .task-list-section .task-description .task-sec-search-wrapper input {
  border: 1px solid #e9edf1;
}
body .main .task-list-section .task-description .task-sec-search-wrapper .label {
  border: 1px solid #e9edf1;
  padding: 9px 15px;
}
body .main .task-list-section .task-description .task-sec-search-wrapper input[placeholder] {
  padding: 10px;
  font-size: 16px;
  color: #e9edf1;
}
body .main .task-list-section .task-description .table-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1080px) {
  body .main .task-list-section .task-description .table-section {
    flex-wrap: wrap;
  }
}
body .main .task-list-section .task-description .table-section .assigned-to-section {
  height: 400px;
  padding: 10px;
}
body .main .task-list-section .task-description .table-section .assigned-to-section .assigned-head-sec {
  padding: 28px 0;
  display: flex;
  justify-content: space-between;
}
body .main .task-list-section .task-description .table-section .assigned-to-section .assigned-head-sec .assigned-head {
  font-weight: 500;
  font-size: 14px;
}
body .main .task-list-section .task-description .table-section .assigned-to-section .assigned-person-img-sec {
  height: 66px;
  display: flex;
  align-items: center;
}
body .main .task-list-section .task-description .table-section .assigned-to-section .assigned-person-img-sec .assigned-img-sec {
  width: 50px;
  height: 50px;
}
body .main .task-list-section .task-description .table-section .assigned-to-section .assigned-person-img-sec .assigned-img-sec .assigned-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
body .main .task-list-section .task-description .table-section .assigned-to-section .assigned-person-img-sec .assigned-person-name {
  font-size: 14px;
}
body .main .task-list-section .task-description .table-section .assigned-to-section .assigned-person-img-sec .com- {
  color: #9fa8b8;
  font-size: 12px;
}
@media screen and (max-width: 850px) {
  body .main .task-list-section .task-description .table-section .daniel-section {
    margin: auto;
  }
}
body .main .task-list-section .task-description .task-desc {
  padding: 10px 0;
  height: 70px;
  font-size: 14px;
  font-weight: 500;
}
body .main .task-list-section .task-description .dashboard-desc {
  height: 66px;
  font-weight: 400;
  font-size: 13px;
}
body .main .task-list-section .task-description .date-desc {
  height: 66px;
  font-weight: 600;
  font-size: 12px;
  color: red;
}
body .main .task-list-section .task-description .status-desc {
  height: 66px;
}
body .main .task-list-section .task-description .status-desc input {
  border: 1px solid #e9edf1;
}
body .main .task-list-section .task-description .status-desc .label {
  border: 1px solid #e9edf1;
  padding: 9px 15px;
}
body .main .task-list-section .task-description .action-icon-sec-wrapp {
  display: flex;
  gap: 4px;
  justify-content: space-between;
}
body .main .task-list-section .task-description .action-icon-sec-wrapp .icon-wrapp {
  height: 66px;
}
body .main .task-list-section .task-description .action-icon-sec-wrapp .icon-wrapp:hover .action-icon-green {
  background: #22c03c;
}
body .main .task-list-section .task-description .action-icon-sec-wrapp .icon-wrapp:hover .action-icon-pink:hover {
  background: #ef3860;
}
body .main .task-list-section .task-description .action-icon-sec-wrapp .icon-wrapp:hover:hover .action-icon {
  color: #fff;
}
body .main .task-list-section .task-description .action-icon-sec-wrapp .icon-wrapp .action-icons {
  border: 1px solid #e9edf1;
  border-radius: 2px;
}
body .main .task-list-section .task-description .action-icon-sec-wrapp .icon-wrapp .action-icons .action-icon {
  padding: 6px;
}
body .main .task-list-section .task-description .action-icon-sec-wrapp .icon-wrapp .action-icons .action-icon-green {
  color: #22c03c;
}
body .main .task-list-section .task-description .action-icon-sec-wrapp .icon-wrapp .action-icons .pink-icon {
  color: #ef3860;
}
body .main .task-list-section .table-bottom-head-wrapper {
  display: flex;
  justify-content: space-between;
}
body .main .task-list-section .table-bottom-head-wrapper .table-bottom-head {
  padding: 28px 0;
}
body .main .task-list-section .table-bottom-head-wrapper .table-bottom-head .showing-head {
  font-size: 14px;
  font-weight: 500;
}
body .main .task-list-section .table-bottom-head-wrapper .bottom-head-previous-sec {
  display: flex;
}
body .main .task-list-section .table-bottom-head-wrapper .bottom-head-previous-sec .previous-sec {
  height: 40px;
  border-radius: 2px;
  border: 1px solid #e9edf1;
}
body .main .task-list-section .table-bottom-head-wrapper .bottom-head-previous-sec .previous-sec .previous {
  color: #9fa8b8;
  font-size: 12px;
  padding: 10px;
}
body .main .task-list-section .table-bottom-head-wrapper .bottom-head-previous-sec .previous-sec-1 {
  height: 40px;
  border-radius: 2px;
  background: #8fbd56;
}
body .main .task-list-section .table-bottom-head-wrapper .bottom-head-previous-sec .previous-sec-1 .previous-1 {
  color: #ffffff;
  padding: 8px 14px;
}
body .main .copyright-sec {
  margin: 20px 0;
  background: #ffffff;
  position: relative;
}
body .main .copyright-sec .copyright {
  padding: 20px 0;
  font-size: 14px;
  text-align: center;
}
body .main .copyright-sec .arrow-sec {
  border: 1px solid #8fbd56;
  cursor: pointer;
  background: #8fbd56;
  border-radius: 5px;
  position: fixed;
  right: 5%;
  bottom: 5%;
}
body .main .copyright-sec .arrow-sec:hover {
  background: #ffffff;
  transition: 0.3s;
}
body .main .copyright-sec .arrow-sec:hover .arrow-up {
  color: #8fbd56;
}
body .main .copyright-sec .arrow-sec .arrow-up {
  padding: 14px 16px;
  color: #ffffff;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.5);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }
  70% {
    transform: scale(0.7);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  100% {
    transform: scale(0.5);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}
@keyframes pulse-green {
  0% {
    transform: scale(0.5);
    box-shadow: 0 0 0 0 rgba(34, 192, 60, 0.7);
  }
  70% {
    transform: scale(0.7);
    box-shadow: 0 0 0 10px rgba(34, 192, 60, 0);
  }
  100% {
    transform: scale(0.5);
    box-shadow: 0 0 0 0 rgba(34, 192, 60, 0);
  }
}

/*# sourceMappingURL=style.css.map */
