@import "./styles/mixins";
@import "./styles/variables";
// NOA-MENU-SECTION
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  //background: #f7f8f9;
  .noa-menu-section {
    max-width: 280px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
    .noa-menu {
      border-bottom: 1px solid #e9edf1;
      border-right: 1px solid #e9edf1;
      padding: 14px;
      .noa-logo {
        cursor: pointer;
        @include center();
        .logo-img {
          width: 30px;
          height: 30px;
          .noa-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .logo-head {
          font-weight: 500;
          font-size: 30px;
        }
      }
    }
    .menu-sec {
      padding: 20px;
      .small-head {
        @include small-head();
      }
      .dashboard-sec {
        color: #8fbd56;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: $menu-item-padding;
        gap: 6px;

        .menu-icon {
          @include menu-icon-size();
        }

        .dashboard-head {
          font-size: 16px;
          font-weight: 400;
        }
      }
      .app-sec {
        .small-head{
          @include small-head();
        }
        .app-wrapper {
          padding: $menu-item-padding;
          .app-item-wrapp {
            cursor: pointer;
            @include space-between();
            padding: $menu-item-padding-bottom;
            &:hover {
              .chevron-icon,
              .app-item {
                color: #8fbd56;
                transition: 0.1s;
              }
            }
            .app-item {
              color: #5d5e60;
              display: flex;
              align-items: center;
              gap: 8px;
              .app-icon{
                @include menu-icon-size();
              }
              .app-items-head{
                font-size: 16px;
              }
            }
          }
          .new {
            border-radius: 18px;
            background: #e884b0;
            .new-head {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 12px;
              color: #fff;
              padding: 4px 8px;
            }
          }
        }
      }
    }
  }
}